@model TreinamentoAspNetMvcUdemy.Models.Pessoa

@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<div>
    <b>@Html.LabelFor(x => x.PessoaId)</b>
</div>
<div>
    <p>@*ViewData["PessoaId"]*@</p>
    <p>@Model.PessoaId</p>
</div>

<div>
    <b>@Html.LabelFor(x => x.Nome)</b>
</div>
<div>
    <p>@*ViewData["Nome"]*@</p>
    <p>@Model.Nome</p>
</div>

<div>
    <b>@Html.LabelFor(x => x.Tipo)</b>
</div>
<div>
    <p>@*ViewData["Tipo"]*@</p>
    <p>@Model.Tipo</p>
</div>

@Html.ActionLink("Voltar", "Index", "Home")




